* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  background: url(../images/bg.png) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  background-color: rgba(41, 34, 34, 0.521);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.calc {
  width: 1072px;
  min-height: 650px;
  border: 2px solid #e6f32e;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  padding: 30px;
}

.tabs {
  width: 100%;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs .tab-left,
.tabs .tab-right {
  width: 200px;
  height: 70px;
  border-radius: 0 15px 0 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.77)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.77));
  margin-right: 5px;
  font-size: 18px;
  font-weight: 700;
  color: #cecece;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
}

.tabs .active {
  background: #e6f32e;
  color: #000;
  position: relative;
}

.tabs .active::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  background-color: #e6f32e;
  left: 0;
  bottom: -6px;
}

.tabs .tab-left {
  border-radius: 15px 0 0 0;
}

.blocks {
  width: 75%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks__title {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.blocks__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e6f32e;
  bottom: 0;
  left: 0;
}

.blocks__counter {
  font-size: 48px;
  font-weight: 700;
  color: #EFAE02;
  width: 132px;
  height: 60px;
  border: 3px solid #e6f32e;
  background-color: transparent;
  text-align: center;
}

#pages-block {
  display: none;
}

.addiction {
  font-size: 30px;
  font-weight: 700;
  color: #e6f32e;
  line-height: 41px;
}

.addiction__title {
  text-align: center;
  margin-bottom: 8px;
}

.addiction__block {
  margin-bottom: 22px;
  text-align-last: left;
}

.addiction__checkbox {
  width: 29px;
  height: 29px;
  opacity: 0.5;
}

.total {
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  font-weight: 700;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.total__count {
  width: 200px;
  height: 72px;
  background-color: transparent;
  border: none;
  font-size: 56px;
  font-weight: 700;
  color: #2cdef0f2;
  text-align: right;
}
